baseURL = "https://www.eiders.fr/"
languageCode = "fr-fr"
title = "Les Eiders Implacables"
titleSeparator = "-"

theme = "hugo-theme-learn"

home = [ "HTML", "RSS", "JSON" ]
enableEmoji = true

[params]
  themeVariant = "blue"
  showVisitedLinks = false
  disableSearch = true
  disableNextPrev = true

[markup]
  [markup.goldmark]
    [markup.goldmark.extensions]
      definitionList = true
      footnote = true
      linkify = true
      strikethrough = true
      table = true
      taskList = true
      typographer = true
    [markup.goldmark.parser]
      attribute = true
      autoHeadingID = true
      autoHeadingIDType = "github"
    [markup.goldmark.renderer]
      hardWraps = false
      unsafe = true
      xhtml = false
