<a href="{{ .Get 0 }}" target=_blank>
  <div class="ressource ressource-web-{{ .Get 0 }} {{ .Get 2 }}">
    <div class="vignette">
{{ if eq ( .Get 2 ) "forum" }}
  {{ ":smiley_cat:" | emojify }}
{{ else if eq ( .Get 2 ) "planchette" }}
  {{ ":clipboard:" | emojify }}
{{ else if eq ( .Get 2 ) "tuto" }}
  {{ ":green_book:" | emojify }}
{{ else if eq ( .Get 2 ) "wiki" }}
  {{ ":books:" | emojify }}
{{ else }}
  {{ ":page_facing_up:" | emojify }}
{{ end }}
   </div>
    <div class="titre">{{ .Get 1 }}</div>
  </div>
</a>

