<div class="ressource">
  <div class="vignette" style="
height: 100%;
background-image: url({{ .Get 3 | replaceRE "https://upload.wikimedia.org/wikipedia/commons/(./..)/(.*)" "https://upload.wikimedia.org/wikipedia/commons/thumb/$1/$2/300px-$2" }});
">
  </div>

  <div class="liens">
    {{ if ne ( .Get 0 ) "" }} <a href="{{ .Get 0 }}" target=_blank title="Wikipédia fr">{{ ":fr:" | emojify }} Wikipédia</a><br /> {{ end }}
    {{ if ne ( .Get 1 ) "" }} <a href="{{ .Get 1 }}" target=_blank title="Wikipédia en">{{ ":gb:" | emojify }} Wikipédia</a><br /> {{ end }}
    {{ if ne ( .Get 2 ) "" }} <a href="{{ .Get 2 }}" target=_blank title="Avionslegendaires.net">{{ ":airplane:" | emojify }} A.L.</a>{{ end }}
  </div>

  <div class="controles">
    <a href="{{ .Get 3 }}" title="Zoom 100%" target=_blank>{{ ":mag_right:" | emojify }}</a><br /> <!-- loupe -->
    <a title="{{ .Get 4 }}">{{ ":copyright:" | emojify }}</a> <!-- copyright -->
   </div>
</div>
