<a href="https://www.youtube.com/watch?v={{ .Get 0 }}" target=_blank>
  <div id="ressource-video-youtube-{{ .Get 0 }}" class="ressource ressource-video-youtube">Mauvaise vid&eacute;o</div>
</a>

<script>
$.get('https://www.googleapis.com/youtube/v3/videos', {
  key: 'AIzaSyC5UT9H9iVrP1UHv7eEcISsqc-aqjvUBuc',
  id: '{{ .Get 0 }}',
  part: 'snippet, contentDetails'
}, function(result) {
  $("#ressource-video-youtube-{{ .Get 0 }}").html(
    "<img src=\"" + result.items[0].snippet.thumbnails.default.url + "\"/>"
    + "<br />"
    + result.items[0].contentDetails.duration.replace("PT","").replace("H","h ").replace("M","min ").replace("S","sec")
    + "<br />"
    + result.items[0].snippet.title
  );
}, 'jsonp');

</script>
