<a href="https://www.youtube.com/playlist?list={{ .Get 0 }}" target=_blank>
  <div class="ressource ressource-playlist-youtube-{{ .Get 0 }}">
    <div class="vignette">{{ ":video_camera:" | emojify }}</div>
    <div class="titre">Playlist Youtube {{ .Get 0 }}</div>
  </div>
</a>

<script>
  get_youtube_playlist("{{ .Get 0 }}", function(result) {
    $(".ressource-playlist-youtube-{{ .Get 0 }}").html(
      "<div class=\"vignette\" style=\"background-image: url(" + result.thumbnail + ");\"></div>"
      + "<div class=\"infos\">" + result.nbvideos + " vidéo" + (result.nbvideos > 1 ? "s": "") + "</div>"
      + "<div class=\"titre\">" + result.title + "</div>"
    );
  });
</script>
