<div class="ressource ressource-encyclopedique" style="background-image: url({{ .Get 3 }});">
  <div class="conteneur">

  <div class="liens">
    {{ if ne ( .Get 0 ) "" }} <a href="{{ .Get 0 }}" target=_blank>{{ ":fr:" | emojify }} Wikipédia</a><br /> {{ end }} <!-- wiki fr -->
    {{ if ne ( .Get 1 ) "" }} <a href="{{ .Get 1 }}" target=_blank>{{ ":gb:" | emojify }} Wikipédia</a><br /> {{ end }} <!-- wiki en -->
    {{ if ne ( .Get 2 ) "" }} <a href="{{ .Get 2 }}" target=_blank>{{ ":airplane:" | emojify }} A.L.</a>      {{ end }} <!-- Avions legendaires -->
  </div>

  <div class="controles">
    <a href="{{ .Get 3 }}" target=_blank>{{ ":mag_right:" | emojify }}</a><br /> <!-- loupe -->
    <a class="copyright" title="{{ .Get 4 }}">{{ ":copyright:" | emojify }}</a>  <!-- copyright -->
   </div>

  </div>
</div>
